body {
    margin: 0px;
    height: 100vh;
}

.top-container {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;

    
    padding-bottom: 100px;
    padding-left: 250px;
    padding-right: 250px;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.links {
    display: flex;
    list-style-type: none;
    padding: 0px;
    gap: 12px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.top-content {
    display: flex;
    justify-content: space-between;
}

.top-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 16px;
}

.top-subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 16px;
    max-width: 600px;
}

.puppy {
    height: 300px;
    width: auto;
    flex-shrink: 1;
}

.sign-up1 {
    font-size: 20px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 24px;
    border-radius: 15px;
}

/*
second section
*/

.second-container {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 50px;
}

.header2 {
    font-size: 36px;
    font-weight: 900;
    /*
    margin: 20px 0px;
    */
    margin-bottom: 35px;

    color: #1F2937;
}

.pup {
    height: 200px;
    width: auto;
    border: 6px solid #3882F6;
    border-radius: 15px;
}

.pics {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.pictext {
    max-width: 200px;
    font-size: 18px;
    color: #1F2937;
}

/*
third section
*/

.third-container {
    background-color: #E5E7EB;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 100px;
}

.third-content {
    max-width: 1300px;
    margin: auto;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.person {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}